@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner styles */
.banner-container{
    max-width: 1440px;
    height: 652px;
    background-image: url(../assets/Hero-bg.png);
    margin: 0px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 26px 221px 45px 221px;
}
.banner-content img{
    height: 240px;
    width: 240px;
    margin-bottom: 32px;
}
.banner-content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
    margin-bottom: 24px;
    width: 998px;
    text-align: center;
}
.banner-content p{
    font-size: 16px;
    color: #292525;
    margin-bottom: 32px;
    text-align: center;
    width: 852px;
}
.banner-btn{
    text-decoration: none;
    height: 65px;
    width: 244px;
    background-color: #0D1321;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 21px 24px;
    border-radius: 8px;
    cursor: pointer;
}
/* main styles start */
/* why web development section styles */
.development-container{
    width: 1140px;
    height: 1393px;
    background-color: rgb(251, 249, 249);
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
}
.development-title h2{
    font-size: 32px;
    font-weight: bolder;
    padding-top: 80px;
    margin-bottom: 24px;
}
.development-title p{
    font-size: 16px;
    color: #5b5959;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 48px;
}
.sub-title-one{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: rgb(245, 241, 241);
    height: 336px;
    width: 946px;
    margin: 0px auto;
    gap: 98px;
    margin-bottom: 32px;
    text-align: left;
}
.sub-title-one h6{
    font-size: 24px;
    font-weight: bold;
    color: #5b5959;
    text-align: left;
    margin-bottom: 16px;
    padding-right: 87px;
}
.sub-title-one p{
    font-size: 16px;
    color: #5b5959;
    text-align: left;
    margin-bottom: 32px;
    padding-right: 9px;
}
.learn-btn{
    /* text-align: left; */
    text-decoration: none;
    color: #5b5959;
    height: 47px;
    width: 141px;
    border: 2px solid #5b5959;
    padding: 12px 12px;
    cursor: pointer;
}
.learn-btn p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
.sub-title-two{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 48px;
    height: 336px;
    width: 946px;
    margin: 0px auto;
    gap: 50px;
    margin-bottom: 32px;
}
.sub-title-two h6{
    font-size: 24px;
    font-weight: bold;
    color: #5b5959;
    text-align: left;
    margin-bottom: 16px;
    padding-right: 87px;
}
.sub-title-two p{
    font-size: 16px;
    color: #5b5959;
    text-align: left;
    margin-bottom: 32px;
    padding-right: 9px;
}
.sub-title-three{
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: rgb(245, 241, 241);
    height: 336px;
    width: 946px;
    margin: 0px auto;
    gap: 133px;
    margin-bottom: 32px;
}
.sub-title-three h6{
    font-size: 24px;
    font-weight: bold;
    color: #5b5959;
    text-align: left;
    margin-bottom: 16px;
    padding-right: 87px;
}
.sub-title-three p{
    font-size: 16px;
    color: #5b5959;
    text-align: left;
    margin-bottom: 32px;
    padding-right: 9px;
}
/* inspiration styles */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0px auto;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
}
.inspiration-container h2{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 24px;
}
.inspiration-container p{
    font-size: 16px;
    color: #5b5959;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 60px;
}
/* target styles */
.target{
    width: 1140px;
    height: 460px;
    margin: 0px auto;
}
.target h2{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 24px; 
    text-align: center;
}
.target-text{
    font-size: 16px;
    color: #5b5959;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 60px;
    text-align: center;
}
.target-title{
    font-size: 24px;
    font-weight: bold;
    color: #0f0d0d;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
}
.target-description{
    font-size: 16px;
    color: #5b5959;
    text-align: left;
    margin-bottom: 38px;
}
.target-name-one{
    text-align: left;
    padding: 40px;
    background-color: #f6e9e7;
}
.target-name-two{
    text-align: left;
    padding: 40px;
    background-color: rgb(215, 215, 243);
}
.target-name-three{
    text-align: left;
    padding: 40px;
    background-color: rgb(238, 240, 214);
}
.target-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 24px;
    padding: 10px;
    margin-right: 150px;
    margin-left: 90px;
    width: 1000px;
    height: 360px;
}
.target-learn-btn{
    color: #5b5959;
    height: 19px;
    width: 135px;
    margin-top: 44px;
    cursor: pointer;
}
.target-learn-btn p{
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #5b5959;
    text-align: left;
}
/* support section */
.support-image{
    background-image: linear-gradient(45deg, #000000, transparent), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    height: 313px;
    width: 1140px;
    margin: 0px auto;
    text-align: center;

}
.support-image h2{
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 24px;
    padding-top: 64px;
    text-align: center;
    color: white;
}
.support-image p{
    font-size: 16px;
    color: #faf7f7;
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    margin-bottom: 60px;
}
.support{
    margin-top: 150px;
    margin-bottom: 80px;
}
.input-content{
    height: 57px;
    width: 548px;
    margin-left: 180px;
    background-color: white;
    padding: 19px 216px 19px 20px;
    text-align: left;
    font-size: 16px;
    color: #5b5959;
}
.submit-btn{
    height: 57px;
    width: 120px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #292525;
    background-color: white;
    cursor: pointer;
}
.support-input{
    display: flex;
    gap: 16px;
}
footer{
    margin: 0px auto;
    height: 100px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #faf7f7;
    padding: 39px 150px;
}
footer h6{
    font-size: 20px;
    color: #5b5959;
}
footer img{
    cursor: pointer;
}

.bunga {
    text-decoration: none;
}